* {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: auto;
    font-size: .8em;
    font-family: arial, freesans, sans-serif;
    overflow-y: hidden;
}

#logo {
    display: block;
    margin-bottom: 10px;
    padding: 5px 8px;
    font-size: 1.6em;
    font-weight: bold;
}

#left {
    float: left;
    width: 260px;
    height: 100%;
    padding-bottom: 60px;
    color: #000;
    overflow: auto;
}

#left ul {
    padding: 0 0 0 1.2em;
    margin: 0 10px;
}

#left a {
    color: #000;
    text-decoration: none;
}

#left a:hover {
    background: rgba(255, 255, 255, .2);
}

#main {
    height: 100%;
    padding: 10px;
    overflow-y: hidden;
}

#left + #main {
    margin-left: 260px;
}

#login {
    width: 400px;
    margin: auto;
}

#login .heading {
    text-align: center;
}

th, td {
    padding: .15em .5em;
}

th a {
    text-decoration: none;
}

tr.transparent,
tr.transparent td,
tr.transparent th {
    background: transparent !important;
}

.bold {
    font-weight: bold;
}

[class*=icon-] {
    color: #789;
}

.icon-edit {
    color: #039;
}

.icon-delete {
    color: #D11;
}

.icon-index {
    color: #FF9;
    text-shadow: 0 0 1px #330;
}

.icon-fulltext {
    color: #FFF;
    text-shadow: 0 0 1px rgba(0, 0, 0, .4);
}

#breadcrumbs {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 5px;
    list-style-type: none;
}

#breadcrumbs li {
    float: left;
    margin: 0 5px;
    padding: 0;
}

#tabs {
    float: left;
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
    list-style-type: none;
}

#tabs li {
    float: left;
    padding: 0;
    margin: 0;
}

#tabs a {
    padding: .2em .5em;
}

#query-textarea {
    width: 100%;
    min-height: 200px;
}

table .actions {
    position: absolute;
    top: 0;
    width: 500px;
}

#query {
    width: 100%;
    min-height: 120px;
    margin: .3em 0;
    padding: 5px;
    border: 1px solid #CCC;
}

#query-viewer {
    clear: both;
    width: 100%;
    max-height: 100px;
    overflow: auto;
    padding: 10px;
    background: #E5E5E5;
    border: 1px solid #000;
}

.syntax-highlighted-query {
    margin: 0;
}

.syntax-highlighted-query .punctuation {
    color: #F0F;
}

.syntax-highlighted-query .quote {
    color: #F00;
}

.syntax-highlighted-query .backtick-quote {
    color: #008000;
}

.syntax-highlighted-query .reserved {
    color: #909;
    font-weight: bold;
    text-transform: uppercase;
}

.syntax-highlighted-query .number {
    color: #F00;
}

.syntax-highlighted-query .word {
    color: #008000;
}

.syntax-highlighted-query .word::before,
.syntax-highlighted-query .word::after {
    content: '`';
}

.syntax-highlighted-query .error {
    color: #F00;
}

.syntax-highlighted-query .comment {
    color: #F00;
}

.syntax-highlighted-query .variable {
    color: #F00;
}

table.fixed {
    clear: both;
    position: relative;
    display: block;
    height: 60%;
    overflow: hidden;
}

table.fixed thead {
    display: block;
    position: absolute;
}

table.fixed th {
    position: relative;
}

table.fixed th::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    content: '';
    border-bottom: 2px solid #F5F5F5;
}

table.fixed tbody {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
    padding-bottom: 100px;
}
